* {
    margin: 0%;
}

.hero {
    display: flex;
    flex-direction: column;
    color: wheat;
    height: 40vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.hero-text {
    font-size: 35px;
    padding: 5px;
    margin: 5px;

}

.circle {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: fading 5s infinite;
    box-shadow: 0 0 30px white;
}

.moon {
    top: 20px;
    left: 600px;
    height: 100.2px;
    width: 100.2px;
    box-shadow: 0 0 50px white;
    animation: fadingmoon 9s infinite alternate-reverse;
}

.size-six {
    height: 6px;
    width: 6px;
}
.size-five {
    height: 5.5px;
    width: 5.5px;
}
.size-six-five {
    height: 6.5px;
    width: 6.5px;
}

.circle#one {
    top: 20px;
    left: 600px;
    animation: fading 4.5s infinite alternate-reverse;
}

.circle#two {
    top: 300px;
    left: 400px;
    animation: fading 3.5s infinite alternate-reverse;
}

.circle#three {
    top: 170px;
    left: 700px;
    animation: fading 7.5s infinite alternate-reverse;
}

.circle#four {
    top: 100px;
    right: 70px;
    animation: fading 5.5s infinite alternate-reverse;

}
.circle#five {
    top: 190px;
    right: 200px;
    animation: fading 4.3s infinite alternate-reverse;

}
.circle#six {
    top: 70px;
    right: 700px;
    animation: fading 6.2s infinite alternate-reverse;
}

.circle#seven {
    top: 50px;
    right: 500px;
    animation: fading 5.8s infinite alternate-reverse;

}
.circle#eight {
    top: 90px;
    left: 200px;
    animation: fading 6s infinite alternate-reverse;

}
.circle#nine {
    top: 300px;
    right: 550px;
    animation: fading 5s infinite alternate-reverse;
}

@keyframes fading {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.2;
    }

}
@keyframes fadingmoon {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.0;
    }

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    background-color: lightgray;
}

.nav-bar-text {
    font-size: 25px;
    margin: 0px 20px;
}


.main-content {
    display: flex;
    flex-direction: row;
    height: 60vh;
    padding: 30px;
}

.title-section {
    width: 50%;
    font-size: 40px;
    padding: 10px;
}

.blog-section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.blog-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    overflow: hidden;
    padding: 10px;
}

.blog-img {
    background-color: lightgray;
    width: 35%;

}
.blog-content {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 0 15px;
    justify-content: space-around;
}

.blog-headline {
    font-size: 1.5rem;
    font-weight: bold;
}

.blog-body {
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 300;
}

.text-gray-600 {
    opacity: 1;
    color: gray;
    font-size: 0.8rem;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 30vh;

}